@model User
@{
    ViewData["Title"] = "User Edit";
}
<div class="container"> 
    <form class="form-group" asp-controller="User" asp-action="Edit" method="post">
    <div class="form-group">
            <label for="Name">Name</label>
            <input name="Name" placeholder="@ViewBag.positions" />
        </div>
        <div class="form-group">
            <label for="LastName">LastName</label>
            <input name="LastName" placeholder="My LastName" />
        </div>
        <div class="form-group">
            
            <select class="form-control" name="PositionId">
                @foreach(var position in (IEnumerable<Position>)ViewBag.Positions)
                {
                    <option value="@position.Id">
                        @position.Title
                    </option>
                }
            </select>
        </div>
        <div class="form-control">
            <input class="btn btn-link" type="submit" value="submit" />
        </div>
    </form>
</div>